<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body class="container-fluid">

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                    <a class="nav-link" asp-page="about">Contact</a>
                    <a class="nav-link" href="#">Pricing</a>
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                </div>
            </div>
        </div>
    </nav>

    <div>
        <div class="row">
            <div class="col-9">
                @RenderBody()
            </div>
            <div class="col-3">
                <div class="list-group">
                    <a asp-page="../index" asp-area="Admin" class="list-group-item list-group-item-action active" aria-current="true">
                        Home
                    </a>
                    <a asp-page="/Categories/Index" asp-area="Admin" class="list-group-item list-group-item-action">
                        Categories
                          
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">A third link item</a>
                    <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
                    <a class="list-group-item list-group-item-action disabled" aria-disabled="true">A disabled link item</a>
                </div>
            </div>


        </div>

    </div>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
