<div class="list-group">
    <a asp-page="../index" asp-area="Admin" class="list-group-item list-group-item-action active" aria-current="true">
        Home
    </a>
    <a asp-page="/Categories/Index" asp-area="Admin" class="list-group-item list-group-item-action">
        Categories

    </a>
    <a href="#" class="list-group-item list-group-item-action">A third link item</a>
    <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
    <a class="list-group-item list-group-item-action disabled" aria-disabled="true">A disabled link item</a>
</div>